<head>
  <title>
    {% if page.title %}{{ page.title | escape }} - 二只老虎
    {% else %}二只老虎 🐯 あなたがいるから{% endif %}
  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="author" content="熊の猫,hi@mail.net">
  <link rel="dns-prefetch" href="//cdn.jsdelivr.net" />
  <link rel="dns-prefetch" href="//tcb-api.tencentcloudapi.com" />
  <link rel="dns-prefetch" href="//gravatar.zeruns.tech" />
  <link rel="dns-prefetch" href="//quiet.a.blog.hi.cn" />
  <link rel="stylesheet" href="/main.min.css">
  <link rel="icon" type="image/png" sizes="32x32" href="//cdn.jsdelivr.net/gh/wx8/online@0.1.0/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="//cdn.jsdelivr.net/gh/wx8/online@0.1.0/favicon-16x16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="//cdn.jsdelivr.net/gh/wx8/online@0.1.0/apple-touch-icon.png">
  {% feed_meta %}
</head>